// Colors
$white: #fff;
$black: #0c0c0c;
$highlight: #5f05ff;
// $highlight: #0f33ff;
$muted-gray: #282828;

/*
colour palette
$bg-main: #1e0c2e;
$highlight: #fc5600;
$purple-1: #fc5600;
#purple-2: #2e015c;
*/
